html, #root, body, .App{
    height: 98%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    
}



div.DraftEditor-root {
   
    background-color: #f6f5f0;
    margin:auto;
    font-size: 18px;
    font-family: 'calibri', sans-serif; 
}

