@import './abstracts/_abstracts-dir';
@import './room/_room-dir';
@import './sidebar/_sidebar-dir';
@import './dialogs/_dialogs-dir';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #root, body, .App{
  height: 100vh;
  width: 100vw;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

body {
  // height: 100vh;
  // width: 100vw;
  overflow: hidden;
}


div.DraftEditor-root {
  background-color: #f6f5f0;
  margin:auto;
  font-size: 18px;
  font-family: 'calibri', sans-serif; 
}

.superFancyBlockquote {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}